.CreateNewClientButton {
	font-size: 15px;
}

.CreateNewClientStepLabel {
	box-sizing: border-box;
}

.CreateNewClientStepLabelActive {
	svg {
		circle {
			fill: #345fff;
		}
	}
}

.CreateNewClientStepLabelCompleted {
	svg {
		path {
			fill: #008025;
		}
	}
}

.LoadingButtonSubmit {
	svg {
		circle {
			color: #fff;
		}
	}
}

.CreateNewClientSuccessAlert {
	position: fixed;
	top: 26px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 22;
	margin-left: 100px;
	margin: auto;
	border: 2px solid rgba($color: #345fff, $alpha: 0.1) !important;
}

/** Update dialog content max-width on custom breakpoints **/
.CreateNewClientDialogContent {
	position: relative;
	max-width: 480px;
	width: 90vw;
}

@media screen and (max-width: 720px) {
	.CreateNewClientDialogContent {
		max-width: 360px;
	}
}

@media screen and (max-width: 460px) {
	.CreateNewClientDialogContent {
		max-width: 270px;
	}
}
